
		<div class="flexsearch--wrapper">
			<form class="flexsearch--form">
				<div class="flexsearch--input-wrapper">
					<input class="flexsearch--input" type="search" placeholder="search" background:transparant>
        </div>
        <a href="#">
            <img  class="offer" src="../assets/offers.png" >
            </a>
            <div class="dropdown">
                <img  class="filter" src="../assets/filter.png" width="10" height="10" [matMenuTriggerFor]="menu">
                <mat-menu #menu="matMenu" class="drop">
                    <mat-checkbox >Veg Only</mat-checkbox><br>
                    <mat-checkbox>Price</mat-checkbox><br>
                    <mat-checkbox>Ratings</mat-checkbox><br>
                  </mat-menu>
              </div>
<!--         
        <input class="flexsearch--submit fa fa-filter" type="button" value="&#xf0b0;">
        <input class="flexsearch--submit1 fa fa-filter" type="button" value=""/>
         -->
			</form>
  </div>
  