<div class="flexsearch--wrapper">
  <form class="flexsearch--form">
    <div class="flexsearch--input-wrapper">
      <input class="flexsearch--input" type="search" placeholder="search" background:transparant>
    </div>
    <div>
        <img class="offer" src="../assets/offers.png" routerLink="/offers" alt="offer_image">
      <div class="dropdown">
        <img class="filter" src="../assets/filter.png" width="10" height="10" alt="filter_img" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu" class="drop">
          <mat-checkbox>Veg Only</mat-checkbox><br>
          <mat-checkbox>Price</mat-checkbox><br>
          <mat-checkbox>Ratings</mat-checkbox><br>
        </mat-menu>
      </div>
    </div>
  </form>
</div>