<div class="search">
  <form class="search-form">
    <input type="text" placeholder="Search" class="searchtext" max-value="20">
    <div> <a href="#">
        <img class="offer" routerLink="offers" src="../assets/offers.png">
      </a></div>
    <div class="dropdown">
      <img class="filter" src="../assets/filter.png" width="10" height="10" [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu" class="drop">
        <mat-checkbox>Veg Only</mat-checkbox><br>
        <mat-checkbox>Price</mat-checkbox><br>
        <mat-checkbox>Ratings</mat-checkbox><br>
      </mat-menu>
    </div>
  </form>
</div>