/* .space-top {
    margin-top: 100px;
} */

.modal-header {
    background: #FF9500;
}
.heart{
    width: 31px !important;
    padding: 6px;
    /* height: 40px; */
}

.searchbar{
    width:100px;
}
.cart{
    width: 31px !important;
    padding: 6px;
    /* height: 40px; */
}
.user{
    width: 27px !important;
    padding: 6px;
    /* height: 40px; */
}

.search{
    width: 132px !important;
    padding: 14px;
    /* height: 45px; */
}
.active{
    border-block-end-style: solid;
    border-color: #FF9500;
    width:30px;
    transition-delay: 0.1s;
  
}


.orange-color {
    background: #FF9500;
}
.bar{
    height: 62px;
    bottom: -1px;
    transition: bottom 1s ease-in-out;
}
.logo1{
    width: 70px;
    margin-top: 45px;
    /* margin-left: -13px; */
    text-align: center;
    margin-left: 5px;
    border-radius: 156px;

}

.gray-color {
    background: #E9E9E9;
}
.logo{
    width: 76px;
    height: 354px;
    margin-top: -209px;
    margin-left: -114px;
    margin-bottom: -338px;
}
.modal-body {
    height: 200px;
}

.modal {
    text-align: center;
    border-radius: 5%;
}

.col-xs-6 {
    width: 50%;
}

a {
    text-decoration: none;
}
.x:focus{
    outline: none;
}