/* .space-top {
    margin-top: 100px;
} */

.modal-header {
    background: #FF9500;
}

.orange-color {
    background: #FF9500;
}

.gray-color {
    background: #E9E9E9;
}

.modal-body {
    height: 200px;
}

.modal {
    text-align: center;
    border-radius: 5%;
}

.col-xs-6 {
    width: 50%;
}

a {
    text-decoration: none;
}

