<div class="container-fluid">
  <div class="row text_size">
    <div class="col-xs-2">
      <i class="fa fa-angle-left leftarrow" (click)="goBack()"></i>
    </div>
    <div class="col-xs-8 text-center">
      <!-- {{restaurantObj.restaurant_name}} -->
      <h3>coco dish</h3>
    </div>
    <div class="col-xs-2">
      <div class="heart">
        <i (click)="addToFavourite()" class="{{favorite ? 'fa fa-heart fa-lg' : 'fa fa-heart-o fa-lg'}}"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm mt-3">
      <span><b>Starters</b></span>
    </div>
  </div>
  <div class="col-xs-10"></div>
  <div class="card">
    <div class="row">
      <div class="col-xs-6">
        <img src="../../assets/dis.jpg" class="img1" alt="image">
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-4">
            <span class="dish1">Cappuccino</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-star star">
              <h6></h6>
            </i>
          </div>
          <div class="col-xs-6">
            <i class="fa fa-clock-o">
              <h6></h6>
            </i>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-inr rupee" aria-hidden="true"></i>
          </div>
          <div class="col-xs-8">
            <button type="button" class="btn btn-warning add">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- <div class="card">
    <div class="row">
      <div class="col-xs-6">
        <img src="../../assets/dis.jpg" class="img1" alt="image">
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-12">
            <span>Cappuccino</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-star star">
              <h6></h6>
            </i>
          </div>
          <div class="col-xs-6">
            <i class="fa fa-clock-o">
              <h6></h6>
            </i>
          </div>

        </div>
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-inr rupee" aria-hidden="true"></i>
          </div>
          <div class="col-xs-8">
            <button type="button" class="btn btn-warning add">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container-fluid">
      <div class="row">
        <div class="col-sm mt-3">
          <span><b>Pizza</b></span>
        </div>
      </div>
      <div class="card ">
        <div class="row">
          <div class="col-xs-6">
            <img src="../../assets/dis.jpg" class="img1" alt="image">
          </div>
          <div class="col-xs-6">
            <div class="row">
              <div class="col-xs-4">
                <span class="dish1">Cappuccino</span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-star star">
                  <h6></h6>
                </i>
              </div>
              <div class="col-xs-6">
                <i class="fa fa-clock-o">
                  <h6></h6>
                </i>
              </div>
    
            </div>
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-inr rupee" aria-hidden="true"></i>
              </div>
              <div class="col-xs-8">
                <button type="button" class="btn btn-warning add">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card ">
          <div class="row">
            <div class="col-xs-6">
              <img src="../../assets/dis.jpg" class="img1" alt="image">
            </div>
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-4">
                  <span class="dish1">Cappuccino</span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <i class="fa fa-star star">
                    <h6></h6>
                  </i>
                </div>
                <div class="col-xs-6">
                  <i class="fa fa-clock-o">
                    <h6></h6>
                  </i>
                </div>
      
              </div>
              <div class="row">
                <div class="col-xs-2">
                  <i class="fa fa-inr rupee" aria-hidden="true"></i>
                </div>
                <div class="col-xs-8">
                  <button type="button" class="btn btn-warning add">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>