.row {
    margin : 5px;
}

.text_size {
    font-size : 20px
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

#green {
    color: #16D900
}

.button-box {
    border: 1px solid #FF9500;
    border-radius: 4px;
    height: 38px;
    width: 90.4px;
}

.image-top {
    margin-top : 7px;
}

.fa-star {
    color : yellow;
}

.card {
    
    width: 100%;
    height : 120px;
}

.img-size{
    display: inline-block;
    width: 120px;
    height: 108px;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-warning {
    color : #FF9500;
    width: 100px;
}

@keyframes bgchange {
    from {background-color: rgba(248, 190, 0, 0.63);}
    to {background-color: #ff9500;}
  }
.mat-menu-item{
    outline:none !important;
}
#floatbutton:focus{
    outline:none !important;
    outline:none !important;
}
.mat-button{
    outline:none !important;
    outline:none !important;
    left:0px;
}

#floatbutton{
    color: white;
    background-color: black;
    position: fixed;
    right: 4%;
    bottom: 12%;
    z-index: 10;
    width: 93px;
    border-radius: 27px;
    vertical-align: middle;
    text-align: center;
    -webkit-animation-name: bgchange;
    animation-name: bgchange;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

}