.row {
    margin : 1px;
}

.space_top {
    margin-top : 30px;
}


.text_size {
    font-size : 20px
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
}

::-webkit-scrollbar { 
    display: none; 
}

.yellow-snackbar {
    background-color: #FF9500
}

.deal_img {
    display: inline-block;
    width: 160px;
    height: 120px;
    background-repeat: no-repeat;
}

.card {
    
    height : 240px;

}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

mat-grid-list {
      width: 1900px;
}

#green {
    color: #16D900
}

.button-box {
    border: 1px solid #FF9500;
    border-radius: 4px;
    height: 38px;
    width: 90.4px;
}

.heart{
    float:right;
}

.image-top {
    margin-top : 7px;
}

.fa-star {
    color : yellow;
}

.reduce-height {
    height : 200px;
    width : 350px;
}

.blue-snackbar {
    background: #2196F3;
}
#main {
    width: 400px;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-color: aliceblue;
    border-radius: 10px;
  }
  
  .flex-container {
    background-color: white;
    border:2px;
    border-color:black;
    border-radius:10px;
  }
  .add{
      float:right;
      width:121px;
      padding:0px;
  }
  .card{
    position: relative;
    /* min-width: 62px; */
    
    height: 114px;
    border-radius:5px;
  }
  
  .img1{
    width: 141px;
    border-radius: 11px;
    padding: 3px;
    margin-top: 2px;
    height: 107px;
  }
  /* .dish1{
      margin-left:-34px;
  }
  .star{  
    margin-left: -30px;
  }
  .rupee{
    margin-left: -25px;
  /* }  */
 

  .text_size {
    font-size : 20px
}
#floatbutton{
    color: white;
    background-color: black;
    position: fixed;
    right: 2%;
    bottom: 3%;
    z-index: 10;
    width: 93px;
    border-radius: 27px;
    /* height: 33px; */
    vertical-align: middle;
    text-align: center;
    -webkit-animation-name: bgchange;
    animation-name: bgchange;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

}
/* The animation code */
@keyframes bgchange {
    from {background-color: rgba(248, 190, 0, 0.63);}
    to {background-color: #ff9500;}
  }
.mat-menu-item{
    outline:none !important;
}
#floatbutton:focus{
    outline:none !important;
    outline:none !important;
}
.mat-button{
    outline:none !important;
    outline:none !important;
    margin-left: 10px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;  
}