<div class="container-fluid">
  <div class="row text_size mt-3">
    <div class="col-xs-2">
      <i class="fa fa-angle-left leftarrow" (click)="goBack()"></i>
    </div>
    <div class="col-xs-8 text-center">
      
      <h3>{{restaurantObj.restaurant_name}}</h3>
    </div>
    <div class="col-xs-2">
      <div class="float-right">
        <i (click)="addToFavourite()" class="{{restaurantObj.is_favourite ? 'fa fa-heart fa-lg' : 'fa fa-heart-o fa-lg'}}"></i>
      </div>
    </div>
  </div>
  <div *ngFor="let category of restaurantDetail" >
    <div class="row">
      <div class="col-sm mt-3">
        <span><b>{{category.category}}</b></span>
      </div>
    </div>
    <div *ngFor="let dish of category.menus">
      <div class="card mt-2">
        <div class="row">
          <div class="col-xs-4">
            <img src="../../assets/dish_1.jpg" class="img-size" alt="image">
          </div>
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-8">
                <span>{{dish.name}}</span>
              </div>
              <div class="col-xs-4">
                <div class="float-right">
                  <i (click)="addToFavouriteDish(dish.id, dish.is_favourite)" class="{{dish.is_favourite ? 'fa fa-heart fa-lg' : 'fa fa-heart-o fa-lg'}}"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-star star">
                  <h6></h6>
                </i>
              </div>
              <div class="col-xs-6">
                <i class="fa fa-clock-o">
                  <h6></h6>
                </i>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-inr rupee" aria-hidden="true">{{dish.original_price}}</i>
              </div>
              <div class="col-xs-8">
                <div class="float-right">
                    <div *ngIf="selectedDish == dish.id else other" class="mt-2 mb-1">
                        <span class="fa fa-minus fa-lg mr-2" (click)="quantityDecrement(dish.id, dish.customizations)"></span>
                        <span class="mr-2">{{dish.quantity}}</span>
                        <span class="fa fa-plus mr-1 fa-lg" (click)="quantityIncrement(dish.id, dish.customizations)"></span>
                      </div>
                      <ng-template #other>
                        <a role="button" class="btn button-box"
                          (click)="dishAddedToCart(dish.id, dish.customizations)">Add</a>
                      </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <div *ngFor="let category of restaurantDetail">
    <a role="button" mat-menu-item>{{category.category}}</a>
  </div>
</mat-menu>

<div id="floatbutton">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
</div>