<div class="container-fluid">
    <div class="row text_size">
      <div class="col-xs-2">
        <i class="fa fa-angle-left leftangle" (click)="goBack()"></i>
      </div>
      <div class="col-xs-10 text-center">
          <h3>Online Payment</h3>  
        </div>
     </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-otp">
      <div class="form-group">
        <input type="name" class="form-control otp" id="otp" placeholder="ENTER OTP">
      </div>
      <div class="col-xs-12">
        <button type="button" class="btn btn-warning">Verify</button>
      </div>
    </div>
  </div>
</div>