<div class="overflow-handling">
  <div class="">
    <div class="col-xs-12">
      <img class="imgA1" src="../../assets/login.jpg" alt="login_image">
      <div class="text-center">
        <img class="imgB1" src="../../assets/logo.png" alt="logo_image">
      </div>
    </div>
  </div>
  <div class="container-fluid">
      <form novalidate [formGroup]="loginForm" #fform="ngForm" (ngSubmit)="onSubmit()">
          <div class="row">
              <div class="col-xs-12">
                  <mat-form-field appearance="outline" class="half-width">
                      <mat-label>Username:</mat-label>
                      <input matInput formControlName="username" type="text" placeholder="Enter your username" required>
                      <mat-hint>
                          <span [hidden]="!(formErrors.username)">
                              {{formErrors.username}}</span>
                      </mat-hint>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <mat-form-field appearance="outline" class="half-width">
                      <mat-label>Password:</mat-label>
                      <input matInput formControlName="password" type="password" placeholder="Enter your password"
                          required>
                      <mat-hint>
                          <span [hidden]="!(formErrors.password)">
                              {{formErrors.password}}</span>
                      </mat-hint>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-6">
                  <mat-checkbox>Remember me</mat-checkbox>
              </div>
              <div class="col-xs-6">
                <div class="float-right">
                  <span>Forgot Password?</span>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <button type="submit" class="btn btn-lg btn-block button-color" [disabled]="loginForm.invalid">Log
                      in</button>
              </div>
          </div>
      </form>
    <!-- <form (ngSubmit)="logIn()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="email">Username</label>
            <input type="text" class="form-control" id="uname" name="username" [(ngModel)]="model.username"
              #username="ngModel" aria-describedby="emailHelp" placeholder="abc">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password"
              #password="ngModel" aria-describedby="passwordHelp" placeholder="*******">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <button type="submit" class="btn btn-warning btn-lg">Login</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <span>New user?</span>
            <a role="button" routerLink="/signup">Register Now</a>
          </div>
        </div>
      </div>
    </form> -->
  </div>
</div>