<div class="row">
  <div class="col-sm">

    <img class="imgA1" src="../../assets/login.jpg" alt="login_image">
    <div class="text-center">
      <img class="imgB1" src="../../assets/logo.png" alt="logo_image">
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
            placeholder="example@gmail.com">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="name">password</label>
          <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="*******">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="text-center">
        <button class="btn btn-warning btn-lg">Login</button>
      </div>
    </div>
    <div class="col-sm mt-2">
      <div class="text-center">
        <span>New user?</span>
        <a role="button" routerLink="/signup">Register Now</a>
      </div>
    </div>
  </div>