<div *ngIf="orderDetails.length == 0 else execute">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
  <img src="../../assets/empty2.png" class="empty" alt="cart_image">
  <h1 class="emptycart"><pre>
  You haven't
 added anything 
  to cart</pre></h1>
</div>
</div>
</div>
</div>
<ng-template #execute>
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-xs">
        <span class="fa fa-angle-left fa-lg ml-3 mr-4" (click)="goBack()"></span><span class="size_heading">My
          Regulars</span>
      </div>
    </div>
    <div class="row ml-1 mr-1">`
      <div class="col-xs-12">
        <mat-horizontal-stepper [linear]=true #stepper>
          <div *ngFor="let order of orderDetails">
            <div>
              <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel></ng-template>

                <span class="mr-1"><b>{{order.restaurant_name}}</b></span>
                <span>{{order.restaurant_location}}</span>
                <mat-grid-list cols="1" rowHeight="90px">
                  <mat-grid-tile *ngFor="let orderdetail of order.orders" [rowspan]="1" [colspan]="1">
                    <div class="col-xs-4">
                      <div class="text-center">
                        <img src="../../assets/kfc.png" alt="dish_img" class="res_img">
                      </div>
                    </div>
                    <div class="col-xs-8">
                      <div class="row">
                        <div class="col-xs-4">
                          <span>
                            {{orderdetail.dish_name}}
                          </span>
                        </div>
                        <div class="col-xs-8">
                          <div class="text-center">
                            <span class="fa fa-minus-circle fa-lg mr-3"
                              (click)="quantityDecrement(order.dish_id)"></span>
                            <span class="mr-3">{{orderdetail.quantity}}</span>
                            <span class="fa fa-plus-circle mr-3 fa-lg"
                              (click)="quantityIncrement(order.dish_id)"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6">
                          <span>{{"Best Price"}}</span>
                        </div>
                        <div class="col-xs-6">
                          <div class="text-center">
                            <span>Rs150</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-step>
            </div>
            <!-- <ng-template #onlyOne>
              <mat-grid-list cols="1" rowHeight="90px">
                  <mat-grid-tile *ngFor="let orderdetail of order.orders" [rowspan]="1" [colspan]="1">
                    <div class="col-xs-4">
                      <div class="text-center">
                        <img src="../../assets/kfc.png" alt="dish_img" class="res_img">
                      </div>
                    </div>
                    <div class="col-xs-8">
                      <div class="row">
                        <div class="col-xs-4">
                          <span>
                            {{orderdetail.dish_name}}
                          </span>
                        </div>
                        <div class="col-xs-8">
                          <div class="text-center">
                            <span class="fa fa-minus-circle fa-lg mr-3" (click)="quantityDecrement(order.dish_id)"></span>
                            <span class="mr-3">{{orderdetail.quantity}}</span>
                            <span class="fa fa-plus-circle mr-3 fa-lg" (click)="quantityIncrement(order.dish_id)"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6">
                          <span>{{"Best Price"}}</span>
                        </div>
                        <div class="col-xs-6">
                          <div class="text-center">
                            <span>Rs150</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
          </ng-template> -->
          </div>
        </mat-horizontal-stepper>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a class="ml-3" role="button" routerLink="/home">Add items</a>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-xs-12">
        <h4 class="ml-3">Based on Your Taste</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="scrolling-wrapper">
          <mat-grid-list cols={{dishTasteBased.length}} rowHeight="240px" class="grid-list">
            <mat-grid-tile *ngFor="let dish of dishTasteBased" [rowspan]="1" [colspan]="1">
              <div class="card" style="width:170px; height:220px">
                <div>
                  <img src="../../assets/dish_1.jpg" style="width: 168px; height:100px;">
                </div>
                <div class="card-body">
                  <span><b>{{dish.dish_name}}</b></span><br>
                  <span>{{dish.restaurant_location}}</span><br>
                  <span>{{"Rs " + dish.dish_price}}</span>
                </div>
                <br>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span class="ml-3">Have a Coupon Code?</span>
      </div>
      <div class="col-xs-10">
        <div class="form-group">
          <input type="text" class="form-control" id="couponCode" aria-describedby="emailHelp"
            placeholder="Enter your code">
        </div>
      </div>
      <div class="col-xs-2">
        <a role="button" class="btn btn-default">Apply</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span class="ml-3">Instructions</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <input type="text" class="form-control" id="couponCode" aria-describedby="emailHelp"
            placeholder="Extra Sauce, no salt etc">
        </div>
      </div>
    </div>
    <div class="ml-3">
      <div class="row">
        <div class="col-xs-4 ml-1">
          Take away
        </div>
        <div class="col-xs-">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 ml-1">
          Stay and Eat
        </div>
        <div class="col-xs-">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-xs-6">
          <span>Items Cost</span>
        </div>
        <div class="col-xs-">
          <span>{{"268"}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <span>Restaurant charges</span>
        </div>
        <div class="col-xs-6">
          <span>{{"60"}}</span>
        </div>
      </div>
      <div class="row" *ngIf="discount">
        <div class="col-xs-6">
          <span>Offer Discount</span>
        </div>
        <div class="col-xs-6">
          <span>{{"60"}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <b>To Pay</b>
        </div>
        <div class="col-xs-6">
          {{"Rs 280"}}
        </div>
      </div>
    </div>
  </div>
</ng-template>