.row {
    margin-top : 5px;
}
.size_heading {
    font-size: 20px;
}
.empty{
    width: 90%;
    height: 101%;
    text-align: center;
    padding: 15px -11px;
    /* margin-top: 55px; */
    margin-left: 28px;
    margin-top: -7px;
}
.emptycart{
    margin-top: -62px;
    margin-left: 36px;
}

.fa-angle-left {
    font-size: 30px;
}

.res_img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}


.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
}

.grid-list {
    width: 800px;
}

::-webkit-scrollbar { 
    display: none; 
}

/* .circular_icon {
    border-radius: 50%;
    background: white;
    width: 20px;
} */
