<div class="container-fluid">
  <div class="row text_size">
    <div class="col-xs-2">
      <i class="fa fa-angle-left" (click)="goBack()"></i>
    </div>
    <div class="col-xs-8 text-center">
      {{restaurantObj.restaurant_name}}
    </div>
    <div class="col-xs-2">
      <div class="float-right">
        <i (click)="addToFavourite()" class="{{restaurantObj.is_favourite ? 'fa fa-heart fa-lg' : 'fa fa-heart-o fa-lg'}}"></i>
      </div>
    </div>
  </div>
  <div class="row text-center space_top">
    <div class="col-xs-4">
      <i class="fa fa-dish mr-2"></i>{{restaurantObj.total_dishes}}
    </div>
    <div class="col-xs-4">
      <i class="fa fa-star mr-2"></i>{{restaurantObj.rating}}
    </div>
    <div class="col-xs-4">
      <i class="fa fa-map-marker mr-2"></i>{{restaurantObj.distance}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="dish_slider" class="carousel slide space_top" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/dish_1.jpg" class="reduce-height" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/dish_2.jpg" class="reduce-height" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/dish_1.jpg" class="reduce-height" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div *ngFor="let categories of restaurantDetail" class="space_top">
        <div class="row">
          <div class="col-xs-6">
            <span><b>{{categories.category}}</b></span>
          </div>
          <div class="col-xs-6">
            <div class="float-right">
              <a routerLink="/listofdishes">See More</a>
            </div>
          </div>
        </div>
        <div class="scrolling-wrapper">
          <mat-grid-list cols="10" rowHeight="250px">
            <div *ngFor="let deal of categories.menus; let i = index">

              <div *ngIf='i<10 else seeMore'>
                <mat-grid-tile [rowspan]="1" [colspan]="1">
                  <div class="card text-center">
                    <div class="row">
                      <div class="col-xs-12 mt-1">
                        <img src="../../assets/dish_2.jpg" class="deal_img">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <span><b>{{deal.name}}</b></span>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-xs-4 mt-2 mr-2">
                        <span><b>{{"Rs "}}</b></span><span id="green">{{deal.original_price}}</span>
                      </div>
                      <div class="col-xs-8 button-box">
                        <div *ngIf="selectedDish == deal.id else other" class="mt-2 mb-1">
                          <span class="fa fa-minus fa-lg mr-2" (click)="quantityDecrement(deal.id)"></span>
                          <span class="mr-2">{{deal.quantity}}</span>
                          <span class="fa fa-plus mr-1 fa-lg" (click)="quantityIncrement(deal.id)"></span>
                        </div>
                        <ng-template #other>
                          <a role="button" class="btn btn-default"
                            (click)="dishAddedToCart(deal.id, deal.customizations)">Add</a>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </mat-grid-tile>
              </div>
            </div>
          </mat-grid-list>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="seeMoreToggle">
  <router-outlet></router-outlet>
</div> -->

<mat-menu #menu="matMenu">
  <div *ngFor="let category of restaurantDetail">
    <a role="button" mat-menu-item>{{category.category}}</a>
  </div>
</mat-menu>

<div id="floatbutton">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
</div>