.row {
    margin : 5px;
}

.space_top {
    margin-top : 30px;
}


.text_size {
    font-size : 20px
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
}

::-webkit-scrollbar { 
    display: none; 
}

.yellow-snackbar {
    background-color: #FF9500
}

.deal_img {
    display: inline-block;
    width: 160px;
    height: 120px;
    background-repeat: no-repeat;
}

.card {
    display: inline-block;
    height : 240px;
    width: 180px;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

mat-grid-list {
      width: 1900px;
}

#green {
    color: #16D900
}

.button-box {
    border: 1px solid #FF9500;
    border-radius: 4px;
    height: 38px;
    width: 90.4px;
}

.image-top {
    margin-top : 7px;
}

.fa-star {
    color : yellow;
}

.reduce-height {
    height : 200px;
    width : 350px;
}