img {
    position: absolute;
}

.imgA1 {
    height: 300px;
    width: 100%;
    z-index: 1;
}

.imgB1 {
    top: 10px;  
    height: 30px;
    width: 30px;
    z-index: 3;
}

.container-fluid {
    margin-top : 320px;
}