<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <span class="theme_single_color common_text_size"><b>Customize</b></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <span>Add ons</span>
    </div>
  </div>
  <!-- <span>{{customisationData[0].name}}</span> -->
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile *ngFor="let cust of customisationData">
        <div class="row">
          <div class="col-xs-12">
              <a role="button" class="btn btn-primary btn-hover" (click)="openLink(cust.id)">{{cust.name}}</a>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
            <span>{{"Rs " + cust.price}}</span>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
</div>
