<div class="mt-3">
  <a mat-button routerLink="/home"><span class="fa fa-angle-left mr-4"></span><span
      class="size_heading">Favourites</span></a>
</div>
<mat-tab-group>
  <mat-tab label="Food">
    <div *ngFor="let food of favouriteFood" class="m-2">
       <div class="card"> 
        <div class="row">
          <div class="col-xs-4" (click)="moveToSpecificRestaurant(food.res_id)">
            <img src="../../assets/kfc.png" class="res_img" alt="res_img">
          </div>
          <div class="col-xs-8">
            <div class="row" (click)="moveToSpecificRestaurant(food.res_id)">
              <div class="col-xs-8">
                <span><b>{{food.name}}</b></span>
              </div>
              <div class="col-xs-4">
                <div class="float-right">
                    <span class="{{favorite ? 'fa fa-heart fa-lg' : 'fa fa-heart-o fa-lg'}}"
                    (click)="toggleFavoriteDish(food.id)"></span>
                </div>
              </div>
            </div>
            <div class="row" (click)="moveToSpecificRestaurant(food.res_id)">
              <div class="col-xs-12">
                <!-- {{food.restaurant_location}} -->
              </div>
            </div>
            <div class="row" (click)="moveToSpecificRestaurant(food.res_id)">
              <div class="col-xs-12">
                <div class="float-right">
                  {{food.original_price}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <mat-checkbox name="checkbox" [(ngModel)]="model.checkbox" #checkbox="ngModel" (click)="addCustom()">Tick me</mat-checkbox> -->
  </mat-tab>
  <mat-tab label="Restaurants">
    <div *ngFor="let restaurant of favouriteRestaurants" class="m-2">
      <div class="card">
        <div class="row">
          <div class="col-xs-4" (click)="moveToSpecificRestaurant(restaurant.res_id)">
            <img src="../../assets/kfc.png" class="res_img" alt="res_img">
          </div>
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-8" (click)="moveToSpecificRestaurant(restaurant.res_id)">
                <span><b>{{restaurant.name}}</b></span>
              </div>
              <div class="col-xs-4">
                <div class="float-right">
                  <span class="{{favorite ? 'fa fa-heart fa-lg' : 'fa fa-heart-o fa-lg'}}"
                    (click)="toggleFavorite(restaurant.id)"></span>
                </div>
              </div>
            </div>
            <div class="row" (click)="moveToSpecificRestaurant(restaurant.res_id)">
              <div class="col-xs-12">
                {{restaurant.area}}
              </div>
            </div>
            <div class="row  float-right" (click)="moveToSpecificRestaurant(restaurant.res_id)">
              <div class="col-xs-12">
                <!-- Rs 120 -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>