<div class="col-xs">
  <div class="mt-3">
    <span class="fa fa-angle-left ml-2 mr-4" (click)="goBack()"></span><span class="size_heading">My
      Account</span>
  </div>
</div>
<div class="container-fluid">
  <div class="text-center">
    <div class="row">
      <div class="col-xs-12">
        <h3>{{profile.username}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 normal_size">
        {{profile.mobile}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 normal_size">
        {{profile.email}}
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div class="row">
      <div class="col-xs-6">
        <a role="button" mat-button routerLink="/orderhistory">Order history<i
            class="fa fa fa-angle-right ml-5"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a role="button" mat-button>Payment types <i class="fa fa fa-angle-right ml-5"></i></a>
      </div>
    </div>
  </div>

</div>