<div class="row col-xs">
    <div class="mt-3 mb-3">
        <span class="fa fa-angle-left mr-4" (click)="goBack()"></span>
        <span class="size_heading">My bookings</span>
    </div>
</div>
<mat-tab-group>
    <mat-tab label="Active orders">

        <div class="row m-2">
            <div class="card">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                {{"1 Order"}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="fa fa-map-marker mr-1"></span>{{"Krishna Restaurant"}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span>5 minutes ago</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row float-right">
                            <div class="col-xs-12">
                                Rs 120
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="History">
        <div class="row m-2">
            <div class="card">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="row">
                            <div class="col-xs-12 text-center mt-4">
                                {{"1"}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-6">
                                4 orders
                            </div>
                            <div class="col-xs-6">
                                <div class="float-right">
                                    <span>{{"Rs 120"}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="fa fa-map-marker mr-1"></span>KFC Restaurant
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <span>{{"12-3-19"}}</span>
                            </div>
                            <div class="col-xs-4">
                                <span>{{"10:40 pm"}}</span>
                            </div>
                            <div class="col-xs-4">
                                <div class="float-right">
                                    <div class="button-box">
                                        <a role="button">Re-order</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>