.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    
}
/* 
.card {
    display: flex;
    background-color: #fff;
    min-width: 100%;
} */

.horizontal-display {
    display: inline-block;
}

.overflow-handling {
    overflow-x: scroll;
}


 .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
}

::-webkit-scrollbar { 
    display: none; 
}


.deal_img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

.res_img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}


.card {
    display: inline-block;
    border-radius: 10%;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

mat-grid-list {
      width: 800px;
}

.box {
    border : 0px solid black;
    height: 200px;
    width: 100px;
}   