.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    
}

.row {
    margin : 5px;
}

.horizontal-display {
    display: inline-block;
}

.overflow-handling {
    overflow-x: scroll;
}


 .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
}

::-webkit-scrollbar { 
    display: none; 
}


.deal_img {
    display: inline-block;
    width: 160px;
    height: 120px;
    background-repeat: no-repeat;
}


.res_img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

.card {
    height: 102px ;
    width : 100%;
}

.card_deal {
    display: inline-block;
    width: 200px;
    
}

.card_dish {
    display: inline-block;
    height : 240px;
    width: 180px;
}


.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

/* mat-grid-list {
} */

.horizontal-length {
    width: 1900px;
}

.box {
    border : 0px solid black;
    height: 200px;
    width: 100px;
}  

.button-box {
    border: 1px solid #FF9500;
    border-radius: 4px;
    height: 38px;
    width: 90.4px;
}

.text-center {

    margin-left : auto;
    margin-right : auto;
}

.space_below {
    margin-bottom: 100px;
}
